# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/

# IDE
.vscode/

# Archive
archive/

# Data
data/*
data/examples/

# Pipeline output
/output/

# Skeleton pipeline
skeleton_pipeline/config/*
!skeleton_pipeline/config/examples.yaml

# Kimimaro
kimimaro/*
!kimimaro/scripts/
